[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
jupyter = "*"
ipykernel = "*"
pandas = "*"
kaggle = "*"
tensorflow = "*"
sklearn = "*"
pydot = "*"
plotly = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
bandit = "*"
flake8 = "*"

[requires]
python_version = "3.10"
